* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}


.container {
    padding: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.result-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 49%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media(max-width: 750px) {
    .result-item {
        width: 100%;
    }
}

.result-item-title-container {
    display: flex;
    gap: 5px;
}

.result-item-mixer {
    background-color: lightgreen;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.result-item h3 {
    padding-bottom: 5px;
}

.result-item li {
    list-style: none;
}
